@model client.Models.HomeViewModel

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://acihome.vn/uploads/15/tieu-chuan-biet-thu-5-sao-co-canh-quan-dep-gan-gui-voi-thien-nhien.jpg" class="d-block w-100" alt="First Slide">
        </div>
        <div class="carousel-item">
            <img src="https://acihome.vn/uploads/15/tieu-chuan-biet-thu-5-sao-co-canh-quan-dep-gan-gui-voi-thien-nhien.jpg" class="d-block w-100" alt="Second Slide">
        </div>
        <div class="carousel-item">
            <img src="https://acihome.vn/uploads/15/tieu-chuan-biet-thu-5-sao-co-canh-quan-dep-gan-gui-voi-thien-nhien.jpg" class="d-block w-100" alt="Third Slide">
        </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<form method="post" style="background-color: blanchedalmond">
    <div class="container">
        <div class="row p-0 py-3 mx-0">
            <div class="col rounded-3 d-flex form-group">
                <i class="bi bi-search me-2"></i>
                <input class="form-control"placeholder="Enter a destination or property" />
            </div>
        </div>
        <div class="row p-0 py-3 mx-0">
            <div class="col rounded-3">
                <label class="form-label">Check in</label>
                <div class="d-flex align-items-center">
                    <i class="bi bi-calendar me-2"></i>
                    <input class="form-control" asp-for="CheckIn" />
                </div>
            </div>
            <div class="col rounded-3">
                <label class="form-label">Check out</label>
                <div class="d-flex align-items-center">
                    <i class="bi bi-calendar me-2"></i>
                    <input class="form-control" asp-for="CheckOut" />
                </div>

            </div>

        </div>
        <div class="row p-0 py-3 mx-0">
            <div class="col">
                <button type="submit" class="btn btn-primary">
                    Search
                </button>
            </div>
        </div>
    </div>
    
</form>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>