@model Domain.Entities.Hotel


<h1>Coming from Hotel Room index</h1>


<div class="card-body border p-4">

    <form method="post" class="row">

        <div class="p-3">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="col-2">
                <img src="@Model.ImageUrl" class="rounded" alt="@(Model.Name ?? "Hotel") Image" />
            </div>
            <div class="form-floating py-2 col-12">
                @*Use display names from the model instead*@
                <label asp-for="Name" class="ms-2">Hotel name</label>
                <input asp-for="Name" class="form-control border shadow" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="form-floating py-2 col-12">
                @*Use display names from the model instead*@
                <label asp-for="Address" class="ms-2">Address</label>
                <input asp-for="Address" class="form-control border shadow" />
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="Size" class="ms-2">Hotel size</label>
                <input asp-for="Size" class="form-control border shadow" />
                <span asp-validation-for="Size" class="text-danger"></span>

            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="Description" class="ms-2">Hotel description</label>
                <input asp-for="Description" class="form-control border shadow" />
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>
            <div class="form-floating py-2 col-12">
                <label asp-for="ImageUrl" class="ms-2">Hotel image</label>
                <input asp-for="ImageUrl" class="form-control border shadow" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>

            </div>

            <div class="row pt-2 ">

                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-success w-100"><i class="bi bi-check"></i> Update</button>
                </div>

                <div class="col-6 col-md-3">

                    <a asp-controller="Hotel" asp-action="Index" class="btn btn-outline-success w-100"><i class="bi bi-x"></i> Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>