@model Domain.Entities.HotelRoom
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card-body border p-4">
    <form method="post" class="row">
        <div class="p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating py-2 col-12">
                <label asp-for="Name" class="ms-2">Name</label>
                <input asp-for="Name" class="form-control border shadow" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="RoomId" class="ms-2">Room number</label>
                <input asp-for="RoomId" class="form-control border shadow" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="HotelId" class="ms-2">Hotel name</label>
                
                <select asp-for="HotelId" asp-items="Model.Hotel" class="form-control border shadow">
                    <option value="">Select hotel</option>
                    </select>
                <span asp-validation-for="HotelId" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="Price" class="ms-2">Price per night</label>
                <input asp-for="Price" class="form-control border shadow" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="Occupancy" class="ms-2">Number of guests</label>
                <input asp-for="Occupancy" class="form-control border shadow" />
                <span asp-validation-for="Occupancy" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="Beds" class="ms-2">Number of beds</label>
                <input asp-for="Beds" class="form-control border shadow" />
                <span asp-validation-for="Beds" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="ImageUrl" class="ms-2">Room image</label>
                <input asp-for="ImageUrl" class="form-control border shadow" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <label asp-for="SpecialDetails" class="ms-2">Special details</label>
                <input asp-for="SpecialDetails" class="form-control border shadow" />
                <span asp-validation-for="SpecialDetails" class="text-danger"></span>
            </div>


            <div class="row pt-2 ">

                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-success w-100"><i class="bi bi-check"></i> Create</button>
                </div>

                <div class="col-6 col-md-3">
                    <a asp-controller="HotelRoom" asp-action="Index" class="btn btn-outline-success w-100"><i class="bi bi-x"></i> Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
