@model client.Models.HotelRoomViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card-body border p-4">
    <form method="post" class="row">
        <div class="p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.Name" class="ms-2">Name</label>
                <input asp-for="HotelRoomVM.Name" class="form-control border shadow" />
                <span asp-validation-for="HotelRoomVM.Name" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.RoomId" class="ms-2">Room number</label>
                <input asp-for="HotelRoomVM.RoomId" class="form-control border shadow" />
                <span asp-validation-for="HotelRoomVM.RoomId" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.HotelId" class="ms-2">Hotel name</label>

                <select asp-for="HotelRoomVM.HotelId" asp-items="Model.HotelList" class="form-control border shadow" >
                    <option value="">Select hotel</option>
                </select>
                <span asp-validation-for="HotelRoomVM.HotelId" class="text-danger"></span>
            </div>
            
            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.Occupancy" class="ms-2">Number of guests</label>
                <input asp-for="HotelRoomVM.Occupancy" class="form-control border shadow" />
                <span asp-validation-for="HotelRoomVM.Occupancy" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.RoomType" class="ms-2">Room type</label>
                <select asp-for="HotelRoomVM.RoomType" asp-items="Model.RoomTypeList" class="form-control border shadow">
                    <option value="">Select room type</option>
                </select>
                <span asp-validation-for="HotelRoomVM.RoomType" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.Beds" class="ms-2">Number of beds</label>
                <input asp-for="HotelRoomVM.Beds" class="form-control border shadow" />
                <span asp-validation-for="HotelRoomVM.Beds" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.BedType" class="ms-2">Bed type</label>
                <select asp-for="HotelRoomVM.BedType" asp-items="Model.BedTypeList" class="form-control border shadow">
                    <option value="">Select bed type</option>
                </select>
                <span asp-validation-for="HotelRoomVM.BedType" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.ImageUrl" class="ms-2">Room image</label>
                <input asp-for="HotelRoomVM.ImageUrl" class="form-control border shadow" />
                <span asp-validation-for="HotelRoomVM.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <label asp-for="HotelRoomVM.SpecialDetails" class="ms-2">Special details</label>
                <input asp-for="HotelRoomVM.SpecialDetails" class="form-control border shadow" />
                <span asp-validation-for="HotelRoomVM.SpecialDetails" class="text-danger"></span>
            </div>


            <div class="row pt-2 ">

                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-success w-100"><i class="bi bi-check"></i> Update</button>
                </div>

                <div class="col-6 col-md-3">
                    <a asp-controller="HotelRoom" asp-action="Index" class="btn btn-outline-success w-100"><i class="bi bi-x"></i> Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
